{
  "env": {
    "node": true,
    "es2021": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "no-console": "warn",
    "func-names": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "security/detect-object-injection": "off",
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "camelcase": "off"
  }
}
